/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/


@font-face {
	font-family: Barlow-Bold;
	src: url('../fonts/Barlow-Bold.ttf') format("opentype");
}
@font-face {
	font-family: Barlow-Light;
	src: url('../fonts/Barlow-Light.ttf') format("opentype");
}
@font-face {
	font-family: Barlow-Medium;
	src: url('../fonts/Barlow-Medium.ttf') format("opentype");
}
@font-face {
	font-family: Barlow-Semibold;
	src: url('../fonts/Barlow-SemiBold.ttf') format("opentype");
}
@font-face {
	font-family: Barlow-Thin;
	src: url('../fonts/Barlow-Thin.ttf') format("opentype");
}

@font-face {
	font-family: Barlow-Extrabold;
	src: url('../fonts/Barlow-ExtraBold.ttf') format("opentype");
}

body {
  font-family: "Barlow-Light", sans-serif;
  background-color: #FFFDF7;
  background-image: url(../img/home/bglineyellobody.png);
  background-size: 2px 100%;
  background-repeat: repeat-y;
  background-position-x: 90px;
}

a {
  font-family: Barlow-Bold;
  color: #ffffff;
  text-transform: uppercase;
  
}

a.allbtn {
  font-family: Barlow-Bold;
  color: #7B6E5F;
  text-transform: uppercase;
  width: 235px;
    height: 55px;
  display: block;
  background-color: #F5F5F4 ;
  border: 1px solid #DBDBDB;
  border-radius: 20px;
  text-align: center;
  padding-top: 13px;
  font-size: 18px;
}
a.btnseemore {
  font-family: Barlow-Bold;
  color: #ffffff;
  text-transform: uppercase;
  width: 100px;
    height: 40px;
  display: block;

  border: 1px solid #FCC300;
  
  text-align: center;
  padding-top: 5px;
  font-size: 18px;
}

a:hover {
  color: #AC121B;
  text-decoration: none;
}

a.btnseemore:hover {
  color: #FFFFFF ;
  background-color: #FCC300;
  
}


h1 {
  font-family: "Barlow-Semibold", sans-serif;
  color: ##37393F;
  font-weight: 600;
  text-transform: none;

}


h2, h3, h4, h5, h6 {
  font-family: "Barlow-Semibold", sans-serif;
  color: #FF6D2D;
  font-weight: 600;
  text-transform: none;

}

h3, h4, h5, h6 {
  
  font-size: 28px;

}

.linetitles {
  
  width: 15px;
  height: 55px;
 }

p {
  color: #7B6E5F;
  font-size: 21px;
  line-height: 25px;
}

p.txt796 {

  color: #7B6E5F;
  

}

.txtblckcolor {

  color: #37393F;
  

}



p span {

  font-family: Barlow-Medium;

}


/* colours */
.color-violet {
  background-color: #603075;
}
.color-indigo {
  background-color: #00339F;
}
.color-blue {
  background-color: #2BABE2;
}
.color-green {
  background-color: #94C13D;
}
.color-yellow {
  background-color: #FAEB33;
}
.color-orange {
  background-color: #E95F24;
}
.color-red {
  background-color: #0071CE;
}

.slidervertical {
  margin-top: 25px;
}

.blue {
--color: #08b2e3;
}

.yellow {
--color: #edae49;
}

.orange {
--color: #f18805;
}

.green {
--color: #76b041;
}

.brown {
--color: #916953;
}

.red {
--color: #e3655b;
}

.pink {
--color: #ec318c;
}



/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #978548;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #AC121B;
  color: #fff;
  transition: all 0.5s;
}

.back-to-top i:hover {
  background: #7c0d14;
  color: #fff;
}


/*--------------------------------------------------------------
# Header
------------------------------------------
*/
.navbar {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2);
box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2);
position: relative;
z-index: 900;
}

.menucont{
  z-index: 1001;
}

.menucont img {
  
  width: 114px;

}

.menucont p {
  font-size: 16px;
  margin:10px auto 10px; 
  
}

.menucont p.txttitleh {
  color: #7B6E5F;
  display: block;
  
}

.menucont p.txttitleh  span{
  font-family: Barlow-Bold;
  
}


.menucont .btnshead {
  color: #7B6E5F;
  display: block;
  text-align: center;
  font-size: 14px;
  width: 155px;
  padding: 0 18px;
  height: 31px;
  line-height: 16px;
  border-right: #FF6D2D 2px solid;
  font-family: Barlow-Light;
  
}

.menucont a.btnshead:nth-child(5){
  padding-top: 8px;
    border-right: 0px;
  
}



.menucont .btnshead:hover {
  color: #FF6D2D;
  text-decoration: none;
}




/* Burger */
.burger {
  margin-top: 7px;
    float: right;
    display: inline-block;
    cursor: pointer;
    position: relative;

    border: 2px solid #ffffff;
    border-radius: 100%;
    width: 36px;
    height: 34px;
    

}

.burger:before, .burger span, .burger:after {
  width: 64%;
  height: 2px;
  display: block;
  background: #ffffff;
  border-radius: 2px;
  position: absolute;
  opacity: 1;
  right: 6px;
}

.burger:before, .burger:after {
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  content: "";
}

.burger:before {
  top: 7px;
}

.burger span {
  top: 14px;
}

.burger:after {
  top: 21px;
}

/* Hover */
.burger:hover:before {
  top: 6px;
}

.burger:hover:after {
  top: 22px;
}

/* Click */
.burger.active span {
  opacity: 0;
}

.burger.active:before, .burger.active:after {
  top: 49%;
}

.burger.active:before {
  transform: rotate(45deg);
}

.burger.active:after {
  transform: rotate(-45deg);
}

.burger:focus {
  outline: none;
}


.navsite {
      display: block;
      top: 25%;
      right: 0;
      position: fixed;
      background: #7B6E5F;
      z-index: 100;
      white-space: nowrap;
      width: 65px;
      transition: width .5s;
      padding: 5px 18px 10px;
      border-radius: 20px 0 0 20px;
      box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.3);
    }

.navsiteopen {
      width: 324px;
      top: 25%;
      right: 0;
      position: fixed;

}


.navsite .conthambu {
 width: auto;
  height: 50px;
  display: block;

}

.itemspan {

    height:auto;
    overflow: hidden;
    color: #606064;
}

.itemspan a {

  font-family: Barlow-Light;
  color: #ffffff;
}

.itemspan a:hover {
  color: #FFC000;
  font-family: Barlow-Light;
  text-decoration: underline;
}

.itemspan  p {
  text-align: right;
  font-size: 14px;
  margin-bottom: 2px;
  color: #ffffff;
}

.itemspan  a.active {
  color: #FFC000;
  font-family: Barlow-Bold;
}

.itemspan  p .active {
  color: #FFC000;
}

.txtmenu {
  display: none;

}

.appearspan {
  right: 50px;
  position: absolute;
  display: inline ;
  animation: fade 2.5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.itemspan .fa-circle {
  color: #A38642;
  float: right;
  margin:5px 12px 8px 5px; 
  display: block;
  font-size: 12px;
}


.itemspan .fa-circle:hover {
        
        color:#FFC000;
}

.navsite .fas {
        margin: 15px;
        width: 20px;
        color: #A38642;
}

/*--------------------------------------------------------------
# MOBILE MENU
--------------------------------------------------------------*/

.main-menu{width: 100%; height: 100%; opacity: 0; visibility: hidden;}
.nav-open .main-menu {
  z-index: 900;
  opacity: 1; visibility: visible; background: rgba(151, 132, 72, .9); 

}
.main-menu .nav li a{color:#FFF; font-size: 5vh; font-weight:600; }
.main-menu .nav li{
    margin-bottom: 5px;
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-animation-timing-function: cubic-bezier(.45,.005,0,1);
    -moz-animation-timing-function: cubic-bezier(.45,.005,0,1);
    -o-animation-timing-function: cubic-bezier(.45,.005,0,1);
    animation-timing-function: cubic-bezier(.45,.005,0,1);
}
.nav-open .main-menu .nav li{
  height: 30px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform .2s,opacity .2s;
    transition: transform .2s,opacity .2s;
}
.main-menu .nav li.delay-1{-webkit-transition-delay:0.1s; -moz-transition-delay:0.1s; -ms-transition-delay:0.1s; -o-transition-delay:0.1s; transition-delay:0.1s; }
.main-menu .nav li.delay-2{-webkit-transition-delay:0.2s; -moz-transition-delay:0.2s; -ms-transition-delay:0.2s; -o-transition-delay:0.2s; transition-delay:0.2s; }
.main-menu .nav li.delay-3{-webkit-transition-delay:0.3s; -moz-transition-delay:0.3s; -ms-transition-delay:0.3s; -o-transition-delay:0.3s; transition-delay:0.3s; }
.main-menu .nav li.delay-4{-webkit-transition-delay:0.4s; -moz-transition-delay:0.4s; -ms-transition-delay:0.4s; -o-transition-delay:0.4s; transition-delay:0.4s; }
.main-menu .nav li.delay-5{-webkit-transition-delay:0.5s; -moz-transition-delay:0.5s; -ms-transition-delay:0.5s; -o-transition-delay:0.5s; transition-delay:0.5s; }
.main-menu .nav li.delay-6{-webkit-transition-delay:0.6s; -moz-transition-delay:0.6s; -ms-transition-delay:0.6s; -o-transition-delay:0.6s; transition-delay:0.6s; }
.main-menu .nav li.delay-7{-webkit-transition-delay:0.7s; -moz-transition-delay:0.7s; -ms-transition-delay:0.7s; -o-transition-delay:0.7s; transition-delay:0.7s; }
.main-menu .nav li.delay-8{-webkit-transition-delay:0.8s; -moz-transition-delay:0.8s; -ms-transition-delay:0.8s; -o-transition-delay:0.8s; transition-delay:0.8s; }
.main-menu .nav li.delay-9{-webkit-transition-delay:0.9s; -moz-transition-delay:0.9s; -ms-transition-delay:0.9s; -o-transition-delay:0.9s; transition-delay:0.9s; }
.main-menu .nav li.delay-10{-webkit-transition-delay:1s; -moz-transition-delay:1s; -ms-transition-delay:1s; -o-transition-delay:1s; transition-delay:1s; }
.main-menu .nav li.delay-11{-webkit-transition-delay:1.1s; -moz-transition-delay:1.1s; -ms-transition-delay:1.1s; -o-transition-delay:1.1s; transition-delay:1.1s; }
.main-menu .nav li.delay-12{-webkit-transition-delay:1.2s; -moz-transition-delay:1.2s; -ms-transition-delay:1.2s; -o-transition-delay:1.2s; transition-delay:1.2s; }

.nav-button{
  position: relative;
  z-index: 1111;
  border: solid 1px #AC121B;
  height: 40px;
  border-radius: 100%;
  display: block;
  width: 40px;
  padding: 10px 7px;
}

.nav-button #nav-icon3{width:24px;height:22px;display:inline-block;position:relative;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;-o-transition:.5s ease-in-out;transition:.5s ease-in-out;cursor:pointer;}
.nav-button #nav-icon3 span{display:block;position:absolute;height:3px;width:100%;background:#AC121B;border-radius:9px;opacity:1;left:0;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.25s ease-in-out;-moz-transition:.25s ease-in-out;-o-transition:.25s ease-in-out;transition:.25s ease-in-out}
.nav-button #nav-icon3 span:nth-child(1){top:0}
.nav-button #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3){top:7px}
.nav-button #nav-icon3 span:nth-child(4){top:14px}
.nav-open #nav-icon3 span:nth-child(1){top:9px;width:0;left:50%}
.nav-open #nav-icon3 span:nth-child(2){-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.nav-open #nav-icon3 span:nth-child(3){-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
.nav-open #nav-icon3 span:nth-child(4){top:9px;width:0;left:50%}

.flex-center{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;height:100%}


.menumobile .nav li a {
  color: #ffffff;
  font-size: 14px;
  padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 2px;
    padding-top: 2px;


}

/*--------------------------------------------------------------
# MOBILE
--------------------------------------------------------------*/

@media (max-width: 450px) {

  h3, h4, h5, h6 {
  
    font-size: 22px;
  
  }

  p {
   
    font-size: 18px;
    line-height: 22px;
}

  .menucont img {
  
    width: 105px;
  
  }
 
  .menucont p.txttitleh {
  
    display: none;
    
  }

  .navsite {
   display: none;
  }

  .menucont .btndeshead {

    margin: auto;


  }

  a.allbtn {
    
    width: 165px;
    height: 45px;
    font-size: 16px;
    margin-bottom: 10%;

}


 


}/*-END  MOBILE-*/



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/


#hero .btnvermas {
  margin-top: 30px;
  color: #ffffff;
  background-color: #0B2240;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

#hero .btnvermas p {
color: #ffffff;
position: relative;
bottom: 51px;
    font-size: 12px;
}

#hero .pulse {
  overflow: visible;
  position: relative;
}
#hero .pulse:before {
  content: '';
  display: block;
  
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0B2240;
  border-radius: inherit;
  transition: opacity .3s, transform .3s;
  animation: pulse-animation 2s cubic-bezier(0.24, 0, 0.38, 1) infinite;
	z-index: -1;
}
@keyframes pulse-animation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

#hero .play-btn {
  width: 94px;
  height: 94px;
  margin: 0 auto;
  background: radial-gradient(#009961 50%, rgba(0, 153, 97, 0.4) 52%);
  border-radius: 50%;
  display: block;
  overflow: hidden;
  position: relative;
}

#hero .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#hero .play-btn::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 3s;
  animation: pulsate-btn 3s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(0, 153, 97, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

#hero .play-btn:hover::after {
  border-left: 15px solid #009961;
  transform: scale(20);
}

#hero .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}


@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: cover;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# MOBILE
--------------------------------------------------------------*/

@media (max-width: 1024px) {

  #hero p.text1 {
    font-size: 18px;
    letter-spacing: 3px;
}

#hero h1 {
  
  letter-spacing: 7px;
  
}


}/*---#TERMINA 1024 IPAD LAND------*/


@media (max-width: 450px) {
  
  section {
    padding: 0 0;
  
  }

  #hero {
  
    height: auto;
    background-size: 760px;
    background-position: 0 -30px
}

#hero .col-lg-6 {
  
  margin-bottom: 5px !important;
  
}

  #hero h1 {
    font-size: 35px;
    letter-spacing: 5px;
    line-height: 40px;
    
    text-align: left;
    width: max-content;
    margin:20px auto 0;
  }
  

  #hero p.text1 {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

#hero .btnvermas {
  margin-top: -50px;

}

#hero .pulse:before {
  
  z-index: 10;
}



}/*-END  MOBILE-*/


/*--------------------------------------------------------------
# SECCION Ver video
--------------------------------------------------------------*/

.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}



.modal-body {
position:relative;
padding:0px;
}


.close {
position:absolute;
right:-30px;
top:0;
z-index:999;
font-size:2rem;
font-weight: normal;
color:#fff;
opacity:1;
}

.close:hover {
color: #0B2240 ;
  }



button.close {
  outline: none;
}


#seccionvvid {

  background-color: #0B2240;
  background-image: url(../img/bgvervid.jpg);
  height: 200px ;
  background-size: cover;
  background-repeat: no-repeat;

}

#seccionvvid .btnvervid {
  margin: 25px auto 10px;
  color: #ffffff;
  background-color: #04339F;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    display: block;
    cursor: pointer;
}

#seccionvvid .btnvervid i {
  display: block;
font-size: 40px;
margin: -60px auto;
}


#seccionvvid  p {
  text-transform: uppercase;
color: #ffffff;
font-size: 12px;
font-family: Gotham-Medium;


}

#seccionvvid .pulse {
  overflow: visible;
  position: relative;
}
#seccionvvid .pulse:before {
  content: '';
  display: block;
  
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #04339F;
  border-radius: inherit;
  transition: opacity .3s, transform .3s;
  animation: pulse-animation 2s cubic-bezier(0.24, 0, 0.38, 1) infinite;
	z-index: -1;
}


/*--------------------------------------------------------------
# FULLWIDTH HOME
--------------------------------------------------------------*/

.moving-mouse-holder {
  margin: auto;
  margin-top: 15%;
  width: 170px;
  margin-bottom: 75px;
}

.moving-mouse-holder .mouse {
  width: 26px;
  height: 40px;
  position: relative;
  margin: auto;
  border-radius: 18px;
  border: 2px solid #37393F;
}

.moving-mouse-holder .mouse .fa-long-arrow-down {
  color: #37393F;
    position: relative;
    top: 29px;
    left: 4px;
    font-size: 23px;
}



.moving-mouse-holder .mouse-button {
  background-color:#37393F;
  width: 4px;
  height: 10px;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin: 0 0 0 -2px;
  animation: mouse-scroll 1s infinite alternate;
}

.moving-mouse-holder .text {
  margin-top: -30px;
  margin-left: 40px;
  color: #33cc66;
  font-size: 12px;
  line-height: 1em;
}

#btnmouse span {
  font-size: 11px;
  width: 200px;
  display: block;
  position: absolute;
  top: 8px;
  left: 30px;
} 

@keyframes mouse-scroll {
  to {
    transform: translate(0, 6px) scale(1, 0.8);
  }
}


/*--------------------------------------------------------------
#  HOME
--------------------------------------------------------------*/

#section1 {
 
  background-image:url(../img/home/portada.jpg);
  background-size: cover ;
  background-position: top center;
  background-repeat: no-repeat;
  height: 92vh;
}

#section1 .row {

  
height: 80vh;

}



#section1 h1 {
  text-align: center;
  font-size: 28px;
  letter-spacing: 2px;
  width: 100%;
  margin-top: 50%;
  font-family: Barlow-Light;
}

#section1 h1 span {
  
  font-family: Barlow-Medium;
}

#section1 a.btn-down {
   margin-top: 40px !important;
   background-color: #7B6E5F;
    margin: 20px auto;
    border: none;
    color: #ffffff;

}

#section1 a.btn-down:hover {
  
  background-color: #FF6D2D;
   

}

#section1 a .svg-inline--fa {

  font-size: 23px ;

}
  
#section1 .d-flex h1 img {
  position: absolute;
    bottom: -10px;
    left: 0;
    width: 60%;
}

#section2 .row {

  margin-top: 5%;
  margin-bottom: 5%;
  


}


#section2 .row {

  background-color: #7B6E5F;
  padding: 15px;
  


}

/* body.fp-viewing-2Page #section2 .row .col-lg-12 {
  left: 0%;
} */

#section2 .row .col-lg-12 {
  /* left: -130%;
  position:relative;
  transition: all 600ms ease; */
  margin-top: 10%;
    margin-bottom: 5%;

}

#section2 h3 {

  font-size: 28px;
  width: 60%;
  margin: auto;  

}

#section2 p {
  color: #ffffff;
  

}

#section2 .txt1 {
  line-height: normal;
  font-size: 28px;
  font-family: Barlow-Medium;
  margin-top: 10%;

}


#section2 .txt2 {
  line-height: 25px;
    font-size: 21px;
 


}


#section2 .txt3 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: Barlow-Light;

}

#section2 .contods {
  padding: 20px;
  border: 1px #FFC000 solid; 


}

#section2 img {
  width: 75px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;

}


#section3 {
  background-image: url(../img/home/bglinemora.png);
  background-position: center;
  background-size: 100% 460px;
  background-repeat: repeat-x;
  
  margin-top: 5%;
  margin-bottom: 5%;

}


#section3 .linetitles {
  margin-left: 60px;

  margin-top: 10%;

}

#section3 h3 {
  text-transform: none;
  margin-left: 15px;
  margin-top: 11%;

}

#section3 p {
 color: #ffffff;

}

#section3 .txt1 {
  
  margin-left: 60px;
  margin-top: 20px;
 
 }

 #section3 .txt2 {

    margin-top: 30px;
    font-size: 28px;
    line-height: 35px;
 
 }

 #section3 .txt2 span {
  color: #FF6D2D;
 
 }


#section4 {
  margin-top: 5%;
  margin-bottom: 5%;
  

}



#section4 h3 {

  font-size: 28px;
  
  margin: 10px 20px;  

}



#section4 p.txt2 {
  line-height: 25px;
    font-size: 21px;
 
  margin-top: 6%;  

}

#section4 p.txt2 span {
  
  font-family: Barlow-Medium;

}

#section6 {
  background-image: url(../img/home/bgsec6dots.png);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 972px;
    margin-top: 3%;
    margin-bottom: 5%;

}

#section6 .row .col-lg-12 {
  
  margin-top: 2%;

}

#section6 .row .col-lg-12 .col-lg-3{
  
  padding: 15px;

}

#section6 .row .conttranw {
  
  background-color:#FFFFFF;

  padding: 30px 20px;

}




#section6 p {
  color: #37393F;
  font-size: 17px;
  line-height: 20px;
  

}
#section6 .txtcircles {
  margin-left: 78px;
  color: #FCC300;
  margin-bottom: 20px;
  font-size: 12px;
}



#section6 .txttitl {
  color: #7B6E5F;
  font-family: Barlow-Bold; 

}

#section6 .txttwolinred {
 
 font-size: 20px;
 margin-right: 15px;
 color: #FF6D2D;

}

#section6 .imgtwolinesred {
 
  margin-right: 20px;
  width: 8px;
  height: 25px;

}



#section6 .txt2 {
 
   margin-bottom: 40px;

}



#section6 p.mtop12 {
  color: #FF6D2D;
  margin-top: 40px;
  margin-bottom: 10px;

}



#section6 p .txtperc {
  color: #FF6D2D;
  font-family: Barlow-Light;
  font-size: 40px;
  
}

#section6 .minilinered {
  background-color: #FF6D2D;
  width: 15px;
  height: 3px;
  display: block;
  
}




#section7 {

  background-image: url(../img/home/bglinewhite.jpg);
  background-position: 0px 74px;
    background-size: 100% 460px;
    background-repeat: repeat-x;
    margin-top: 5%;
    margin-bottom: 5%;


}



#section7 h3 {
  
  font-size: 28px;
  margin: 10px 20px;  

}

#section7 img.imgorgani {
  
  margin: 5% auto;
    display: block;
    width: 100%;

}

#section7 img.imgorganimob {
  
  display: none;
  
}

 a.btnsigsecc {
  padding: 0;
    float: right;
    margin-top: 20px;
    margin-left: 15px;
    background-color: #FCC300;
    font-size: 16px;
    text-transform: none;
    border: none;
    border-radius: 0;
    width: 187px;
    height: 40px;

}

a.btnsigsecc p {
  font-size: 16px;
  color: #FFFFFF;
}

a.btnsigsecc:hover  {
  background-color: #FF6D2D;
  
}

a.btnsigsecc .fa-angle-right {
  
  top: 6px;
  font-size: 29px;
  position: relative;
  left: 8px;

}

a.btnsigsecc .fa-angle-left {
  
  top: 6px;
  font-size: 29px;
  position: relative;
  right: 8px;

}

.minilinered {
  background-color: #FF6D2D;
  width: 15px;
  height: 3px;
  display: block;
  
}

.minilinebrown {
  background-color: #7B6E5F;
  width: 15px;
  height: 3px;
  display: block;
  
}

.minilineyellow {
  background-color: #FCC300;
  width: 15px;
  height: 3px;
  display: block;
  
}

.minilinewhite {
  background-color: #ffffff;
  width: 15px;
  height: 3px;
  display: block;
  
}



.txttitorags {
  text-transform: uppercase;
  color: #FF6D2D;
  font-size: 19px;
}

.txttitbrownss {
  text-transform: uppercase;
  color: #7B6E5F;
  font-size: 19px;
}


/*--------------------------------------------------------------
# Carta del ceo
--------------------------------------------------------------*/

#carceo1 {
  background-image: url(../img/home/bglinemora.png);
  background-position: 0 38px;
  background-size: 100% 460px;
  background-repeat: repeat-x;
  
  margin-top: 5%;
  

}


#carceo1 .linetitles {
  margin-left: 60px;

  margin-top: 10%;

}

#carceo1 h3 {
  text-transform: none;
  margin-left: 15px;
  margin-top: 11%;

}

#carceo1 p {
 color: #ffffff;

}

#carceo1 .txt1 {
  
  margin-left: 60px;
  margin-top: 20px;
 
 }

 #carceo1 .txt2 {

    margin-top: 30px;
    font-size: 28px;
    line-height: 35px;
 
 }

 #carceo1 .txt2 span {
  color: #FF6D2D;
 
 }

 #carceo1 .contmousescr {
   width: 100%;
   position: relative;
   top: -40px;
 }


 #carceo1 .moving-mouse-holder {
  margin: auto;
  margin-top: 20px;
  width: 170px;
  margin-bottom: 0px;
}


#carceo2  {

  background-image: url(../img/cartaceo/bgdotsfull.png);
  background-size: 1176px 66px;
  background-repeat: repeat;



}

#carceo2  p {

 margin-bottom: 40px;
 
 
 
 }


 #carceo2  p span {

 color:#FF6D2D;

  
  
  
  }

  
#carceo2  .contwhitss {

 background-color: #ffffff;
 padding: 30px;



}

#carceo2 .contwhitss .txt1 {

  margin-top: 40px;
 
 
 }

#carceo2 .contwhitss .txt2 {
  font-family: Barlow-Medium;
  color: #7B6E5F;
  font-size: 28px;
  line-height: 31px;
 
 
 
 }

 #carceo2  .contxtmor {

  background-color: #442D40;
    padding: 30px;
    position: absolute;
    bottom: -200px;
    left: -20px;
    z-index: 9;
 
 
 
 }

 #carceo2 .contxtmor .txt4 {
  
  color: #FF6D2D;
  font-size: 30px;
  line-height: 34px;
  margin-bottom: 0;

 
 }

 #carceo2 .txt5 {
   font-size: 18px;

 }

 #carceo2 .txtcolnorm {
  
  color: #37393F;

 }

  
/*--------------------------------------------------------------
# Pag Gobierno
--------------------------------------------------------------*/ 

#gobcor1 {
  background-image: url(../img/pag1/banner_gobierno.jpg);
  background-position: top left;
  background-size: 100% 350px;
  background-repeat: no-repeat;

}

#gobcor1 .conttitlcap {
  margin-top: 130px;
}

#gobcor1 .imgincacap {
  width: 520px;
margin-bottom: 40px;
}


#gobcor1 .conttitlcap p {
  color: #37393F;
  margin-bottom: 0;
  margin-left: 50px;
}

#gobcor1 .conttitlcap p .fa-circle {
  font-size: 9px;
  margin-left: 5px;
  margin-bottom: 6px;
}



#gobcor1 .conttitlcap h1 {

  margin-left: 50px;
}


#gobcor1 .linetitles {
  margin-left: 60px;

  margin-top: 10%;

}


 #gobcor1 .txt2 {
    color: #7B6E5F;
    font-family: Barlow-Semibold;

    margin-top: 90px;
    font-size: clamp(1rem, 5vw, 1.6rem);
    margin-bottom: 50px;
    line-height: normal;
    
 
 }

 #gobcor1 .txt2 span {
  color: #ffffff;
 
 }

 


 #gobcor1 .moving-mouse-holder {
  margin: auto;
  margin-top: 0px;
  width: 170px;
  margin-bottom: 40px;
}

#gobcor2 {

  background-image:url(../img/pag1/bgdotsgob2.png) ;
  background-size: 418px;
  background-position: right center;
 background-repeat: no-repeat;
  margin-top: 5%;
  margin-bottom: 5%;
 
}


#gobcor2 p {

 margin-bottom: 40px;
 color: #FFFFFF;
 
 
 }


 #gobcor2  p span {

 color:#FF6D2D;

  
  
  
  }

  
#gobcor2  .contvilet {

  background-color: #442D40;
  padding: 35px 8% 75px;
  max-width: 85%;
  margin: auto;



}

#gobcor2 .contvilet .txt1 {

  margin-top: 40px;
  color: #FF6D2D;
 
 }

#gobcor2 .contvilet .txt2 {
    width: 68%;
    margin: auto;
 

 
 }

 #gobcor3 {

  margin-top: 5%;
  margin-bottom: 5%;

}

#gobcor3 .txt2 {
  font-size: 28px;
    width: 635px;
    height: 131px;
    padding: 27px;
    border: 1px solid #FCC300;
    color: #FF6D2D;
    font-family: Barlow-Semibold;
}

#gobcor3 .txt3 {
  color: #37393F;
    width: 65%;
    margin: 50px auto;
    
    
}


#gobcor3 .txt3 .txtorang {
 
    color: #FF6D2D;
   
}

#gobcor4  {

  background-image:url(../img/pag1/bgdotsgob4.png) ;
  background-size: 418px;
  background-position: left center;
 background-repeat: no-repeat;
  margin-top: 5%;
  margin-bottom: 5%;
 
}

#gobcor4  h3 {
 
  margin: 10px 20px;
 
}


#gobcor4  .txt3 {

  font-size: 25px;
  line-height: 29px;
  font-family: Barlow-Medium;
  margin-top: 40px;
  margin-bottom: 40px;
 
}


#gobcor5  {
 
  margin-top: 5%;
  margin-bottom: 5%;
 
}

#gobcor5  h3 {
 
  margin: 10px 20px;
 
}

#gobcor5  .txt3 {

  font-size: 25px;
  line-height: 29px;
  font-family: Barlow-Medium;
  margin-top: 40px;
  margin-bottom: 40px;
 
}



#gobcor6  {
  background-image: url(../img/pag1/bgdotsgob6.svg);
  background-size: 593px;
  background-position: left center;
  background-repeat: no-repeat;
  padding-bottom: 5%;
  padding-top: 5%;
 
}

#gobcor6  h3 {
 
  margin: 10px 20px;
 
}

#gobcor6  .txt3 {

  font-size: 25px;
  line-height: 29px;
  font-family: Barlow-Medium;
  margin-top: 40px;
  margin-bottom: 40px;
 
}


#gobcor6  a {
  text-transform: none;
  display: block;
  font-size: 20px;
  text-align: center;
  color: #FF6D2D;
  font-family: Barlow-Medium;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 300px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #FCC300;
 
}

#gobcor7  {
 
  margin-top: 5%;
  margin-bottom: 5%;
 
}

#gobcor7  h3 {
 
  margin: 10px 20px;
 
}

#gobcor7 .imgtwolinesred {
  margin-right: 20px;
  width: 8px;
  height: 25px;
  margin-top: 20px;
}

#gobcor7 p {
  margin-top: 20px;
  margin-bottom: 20px;
}

#gobcor7 .contbrown {
  max-width: 32%;
  height:100%;
  margin: auto;
  background-color: #7B6E5F;
  
  padding: 40px;

}

#gobcor7 .contbrown p {
  color: #FFFFFF;
  margin-bottom: 20px;
  margin-top: 10px;

}

#gobcor7 .contbrown a {
  display: block;
  float: right;
  border: 1px solid #FCC300;
  width: 95px;
  text-align: center;
  height: 36px;
  margin-top: 10px;
  padding: 5px;

}

#gobcor7 .contbrown a:hover {
  color: #FFFFFF;
  background-color: #FF6D2D;

}

/*--------------------------------------------------------------
# Pag Nuestro Cliente
--------------------------------------------------------------*/ 

#nucli1 {
  background-image: url(../img/pag1/banner_gobierno.jpg);
  background-position: top left;
  background-size: 100% 350px;
  background-repeat: no-repeat;

}

#nucli1 .conttitlcap {
  margin-top: 130px;
}

#nucli1 .imgincacap {
  width: 520px;
margin-bottom: 40px;
}


#nucli1 .conttitlcap p {
  color: #37393F;
  margin-bottom: 0;
  margin-left: 50px;
}

#nucli1 .conttitlcap p .fa-circle {
  font-size: 9px;
  margin-left: 5px;
  margin-bottom: 6px;
}



#nucli1 .conttitlcap h1 {

  margin-left: 50px;
}


#nucli1 .linetitles {
  margin-left: 60px;

  margin-top: 10%;

}

#nucli1 .contliney {
  border: 1px solid #FCC300;
  width: 69%;
  margin-left: 15%;
  padding: 15px 30px;
  margin-top: 80px;
  margin-bottom: 20px;
}

#nucli1 h4 {
  text-transform: uppercase;
  font-size: 19px;
  margin-top: 10px;
    

}


 #nucli1 .txt2 {
    color: #7B6E5F;
    margin-bottom: 10px;
    
    margin-top: 30px;

    line-height: normal;
    
 
 }

 #nucli1 .txt2 span {
  color: #ffffff;
 
 }

 


 #nucli1 .moving-mouse-holder {
  margin: auto;
  margin-top: 0px;
  width: 170px;
  margin-bottom: 40px;
}


#nucli2 {

  background-image:url(../img/pag2/bgdotsc2.png) ;
  background-size: 900px;
  background-position: left center;
 background-repeat: no-repeat;
 padding-top: 5%;
  padding-bottom: 5%;
 
}


#nucli2 p {

 margin-bottom: 40px;
 
 
 
 }


 #nucli2  p span {

 color:#FF6D2D;

  
  
  
  }

  
#nucli2 .contwhite {

  background-color: #FFFDF7;
  padding: 35px  16px;

  margin: auto;



}

#nucli2 .contwhite .txt1 {
  font-size: 25px;
  font-family: Barlow-Medium;
  margin-top: 40px;
  color: #FF6D2D;
 
 }

 #nucli3  {
 
  margin-top: 5%;
  margin-bottom: 5%;
 
}

#nucli3  h3 {
 
  margin: 10px 20px;
 
}

#nucli3 .imgtwolinesred {
  margin-right: 20px;
  width: 8px;
  height: 25px;
  margin-top: 20px;
}

#nucli3 p {
  margin-top: 20px;
  margin-bottom: 20px;
}

#nucli3 .contbrown {
  max-width: 23%;
  height: 100%;
  margin: auto;
  background-color: #7B6E5F;
  padding: 20px;

}

#nucli3 .contbrown p {
  color: #FFFFFF;
  margin-bottom: 20px;
  margin-top: 10px;

}

#nucli3 .contbrown p span{
  color: #FCC300;

}

#nucli3 .contbrown p.txtcircles {
  color: #FCC300;
  margin-bottom: 0px;
  margin-top: 5px;
  font-size: 12px;
}



#nucli4  {
  background-image: url(../img/pag2/bgdotsc2.png);
    background-size: 990px;
    background-position: left bottom;
    background-repeat: no-repeat;
    padding-top: 5%;
    padding-bottom: 5%;
 
}

#nucli4  .container .col-lg-8{
 background-color: #FFFDF7;
 
}

#nucli4  h3 {
 
  margin: 10px 20px;
 
}

#nucli4 .imgtwolinesred {
  margin-right: 20px;
  width: 8px;
  height: 25px;
  margin-top: 20px;
}

#nucli4  p {
  margin-top: 20px;
  margin-bottom: 20px;
}

#nucli4  .contbrown {
  height: 100%;
    margin: 100px auto;
    background-color: #7B6E5F;
    padding: 18px;

}

#nucli4 .contbrown p {
  color: #FFFFFF;
  margin-bottom: 20px;
  margin-top: 10px;

}

#nucli4 .contbrown p span{
  color: #FCC300;

}

#nucli4 .contbrown p.txtcircles {
  color: #FCC300;
  margin-bottom: 0px;
  margin-top: 5px;
  font-size: 12px;
}

#nucli5  {
  background-color: #FFFFFF;
  border-top: 1px solid #FCC300;
  border-bottom: 1px solid #FCC300;
  padding-top: 5%;
  padding-bottom: 5%;
 
}

#nucli5  h3 {
 
  margin: 10px 20px;
 
}

#nucli5  p {
  color: #37393F;
  margin-top: 40px;
  margin-bottom: 40px;

 
}

#nucli5  .txttil2 {
  color: #FF6D2D;
  text-transform: uppercase;
  margin-top: 20px;
  font-family: Barlow-Medium;
  margin-bottom: 40px;

 
}

#nucli5  .imggraf {

  width: 80%;
  
  display: block;

 
}



 /*--------------------------------------------------------------
# Pag Educacion finan
--------------------------------------------------------------*/ 

#edufi1 {
  background-image: url(../img/pag1/banner_gobierno.jpg);
  background-position: top left;
  background-size: 100% 350px;
  background-repeat: no-repeat;

}

#edufi1 .conttitlcap {
  margin-top: 130px;
}

#edufi1 .imgincacap {
  width: 520px;
margin-bottom: 40px;
}

#edufi1 .conttitlcap p {
  color: #37393F;
  margin-bottom: 0;
  margin-left: 50px;
}

#edufi1 .conttitlcap p .fa-circle {
  font-size: 9px;
  margin-left: 5px;
  margin-bottom: 6px;
}

#edufi1 .conttitlcap h1 {

  margin-left: 50px;
}



 #edufi1 .txt2 {
  color: #37393F;
  margin-top: 90px;
 
 }

 


 #edufi1 .moving-mouse-holder {
  margin: auto;
  margin-top: 0px;
  width: 170px;
  margin-bottom: 40px;
}


#edufi2 {

  background-image:url(../img/pag3/bgdotsc2.png) ;
  background-size: 845px;
  background-position: left top;
 background-repeat: repeat-y;
 padding-top: 5%;
  padding-bottom: 5%;
 
}

#edufi2 h4 {
  margin-top: 10px;
  width: fit-content;
  padding: 8px 15px;
  background-color: #FF6D2D;
  color: #ffffff;
  margin-bottom: 20px;
  
  }


#edufi2 p {

 margin-bottom: 40px;
 
 color: #37393F;
 
 }


 #edufi2  p span {

 color:#FF6D2D;

  
  
  
  }

  
#edufi2 .contwhite {

  background-color: #FFFDF7;
  padding: 35px  16px;
  
  margin:30px auto;



}

#edufi2 .contwhite .txtcircles{
  margin-bottom: 15px;
  font-size: 12px;
  color: #FCC300;
}

#edufi2 .contwhite .txt1 {
  font-size: 21px;
  font-family: Barlow-Medium;
  margin-bottom: 5px;
  color: #7B6E5F;
 
 }


 

#edufi3  .container {
 background-color: #7B6E5F;
 padding: 10px 50px;
}


#edufi3  h4 {
 color: #FCC300;
  
 
}


#edufi3  p {
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 5px;
}

#edufi3 p .txtperc {
  color: #FFFFFF;
  font-family: Barlow-Light;
  font-size: 40px;
}

#edufi3 .sepyellow {
  background-color: #FCC300;
  height: 1px;
  display: block;
}



/*--------------------------------------------------------------
# Pag Talento humano
--------------------------------------------------------------*/ 

#talenhu1 {
  background-image: url(../img/pag1/banner_gobierno.jpg);
  background-position: top left;
  background-size: 100% 350px;
  background-repeat: no-repeat;

}

#talenhu1 .conttitlcap {
  margin-top: 130px;
}

#talenhu1 .imgincacap {
  width: 520px;
margin-bottom: 40px;
}


#talenhu1 .conttitlcap p {
  color: #37393F;
  margin-bottom: 0;
  margin-left: 50px;
}

#talenhu1 .conttitlcap p .fa-circle {
  font-size: 9px;
  margin-left: 5px;
  margin-bottom: 6px;
}



#talenhu1 .conttitlcap h1 {

  margin-left: 50px;
}


#talenhu1 .linetitles {
  margin-left: 60px;

  margin-top: 10%;

}


#talenhu1 .txt2 {
    color: #7B6E5F;
    font-family: Barlow-Semibold;
    
    margin-top: 90px;
    font-size: clamp(1rem, 5vw, 1.6rem);
    margin-bottom: 50px;
    line-height: normal;
    
 
 }

 #talenhu1 .txt2 span {
  color: #ffffff;
 
 }

 


 #talenhu1 .moving-mouse-holder {
  margin: auto;
  margin-top: 0px;
  width: 170px;
  margin-bottom: 40px;
}


#talenhu2 {
 margin-top: 5%;
 margin-bottom: 5%;

}

#talenhu3 {

  background-image:url(../img/pag4/bgdots4.png) ;
  
  background-position: left top;
 background-repeat: repeat;
 padding-top: 5%;
  padding-bottom: 5%;
 
}

  
#talenhu3 .contwhite {

  background-color: #FFFDF7;
  padding: 35px  16px;
  margin:30px auto;

}

#talenhu3 h4 {

  margin-top: 10px;
  width: fit-content;
  padding: 8px 15px;
  background-color: #FF6D2D;
  color: #ffffff;
  margin-bottom: 20px;
  
}

#talenhu3 h3 {

  margin-top: 10px;
  width: fit-content;
  padding: 8px 15px;
  border: 1px solid #FF6D2D;
  color: #7B6E5F;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
  
}


#talenhu3 p {

 margin-bottom: 40px;
 
 color: #37393F;
 
}

#talenhu3 .txt1 {
  text-align: center;
  margin-top: 90px;
  margin-bottom: 5px;
  
 }

 #talenhu3 .txt2 {
  color: #FF6D2D;
  margin-top: 120px;
  margin-bottom: 5px;
  
 }

 #talenhu3 .txt3 {
  color: #FF6D2D;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 10%;
 }

 #talenhu3 .txt4 {
  color: #FF6D2D;
  
  margin-top: 25%;
  margin-bottom: 5px;
  margin-left: 15%;
 }

 #talenhu3 .txt9 {
  color: #FF6D2D;

  margin-bottom: 20px;
  
 }

 #talenhu3 .txt5 {
  margin-left: 10%;
  
 }

 #talenhu3 .txt6 {
  margin-left: 15%;
  
 }

 #talenhu3 .txt8 {
  margin-bottom: 15px;
  
 }


#talenhu3 .txt1 .txtperc {
  color: #FF6D2D;
  font-size: 60px;
  font-family: Barlow-Light;
  
  
}

#talenhu3 .txt2 .txtperc {
  color: #FF6D2D;
  font-size: 34px;
  font-family: Barlow-Light;
  
  
}

#talenhu3 .txt3 .txtperc {
  color: #FF6D2D;
  font-size: 34px;
  font-family: Barlow-Light;
  
  
}

#talenhu3 .txt4 .txtperc {
  color: #FF6D2D;
  font-size: 50px;
  font-family: Barlow-Light;
  
  
}

#talenhu3 .txt9 .txtperc {
  color: #FF6D2D;
  font-size: 50px;
  font-family: Barlow-Light;
  
  
}

#talenhu3 .diviyellow {
  background-color: #FFC000;
  height: 1px;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  
  
}

#talenhu3 img {
  
  margin-top: 30px;
  margin-bottom: 30px;
  
  
}

#talenhu4   {
 
  margin-top: 5%;
  margin-bottom: 5%;
 
}

#talenhu4   h3 {
 
  margin: 10px 20px;
 
}

#talenhu4  .imgtwolinesred {
  margin-right: 20px;
  width: 8px;
  height: 25px;
  margin-top: 20px;
}

#talenhu4  p {
  color: #37393F;
  margin-top: 60px;
  margin-bottom: 20px;
}
 

/*--------------------------------------------------------------
# Pag Talento humano
--------------------------------------------------------------*/ 

#cuimeda1 {
  background-image: url(../img/pag1/banner_gobierno.jpg);
  background-position: top left;
  background-size: 100% 350px;
  background-repeat: no-repeat;

}

#cuimeda1 .conttitlcap {
  margin-top: 130px;
}

#cuimeda1 .imgincacap {
  width: 520px;
margin-bottom: 40px;
}


#cuimeda1 .conttitlcap p {
  color: #37393F;
  margin-bottom: 0;
  margin-left: 50px;
}

#cuimeda1 .conttitlcap p .fa-circle {
  font-size: 9px;
  margin-left: 5px;
  margin-bottom: 6px;
}



#cuimeda1 .conttitlcap h1 {

  margin-left: 50px;
}


#cuimeda1 .linetitles {
  margin-left: 60px;

  margin-top: 10%;

}

#cuimeda1 .txt3 {
  color: #FF6D2D;
  font-family: Barlow-Semibold;
  
  margin-top: 90px;
  font-size: clamp(1rem, 5vw, 1.6rem);
  margin-bottom: 15px;
  line-height: normal;
  

}


#cuimeda1 .txt2 {
    color: #7B6E5F;
    font-family: Barlow-Semibold;
    
    font-size: clamp(1rem, 5vw, 1.6rem);
    margin-bottom: 50px;
    line-height: normal;
    
 
 }



 #cuimeda1 .moving-mouse-holder {
  margin: auto;
  margin-top: 0px;
  width: 170px;
  margin-bottom: 40px;
}


#cuimeda2 .contbrown {
  
  padding: 40px;
  
  background-color: #7B6E5F;

}

#cuimeda2 .contbrown p{

  color: #ffffff;

}


#cuimeda3 {

 
 padding-top: 5%;
  padding-bottom: 5%;
 
}


#cuimeda3 h3 {

  margin-top: 10px;
  width: fit-content;
  padding: 8px 15px;
  border: 1px solid #FF6D2D;
  color: #7B6E5F;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
  
}

#cuimeda3 h3 span {

  
  text-transform: none;

  
}

#cuimeda3 .txtcifrs span {

  font-size: 18px;
  font-family: Barlow-Light;

  
}


#cuimeda3 .txtindica a {

  display: block;
  margin-right: 20px;
  width: 40px;
  margin-top: 11px;
  float: left;
  height: 10px;
  background-color: #002945;
  

  
}


#cuimeda3 .txtindica span {

  font-size: 16px;
  

  
}

#cuimeda4  {
  background-image: url(../img/pag5/bgdots3.png);
  background-size: 880px ;
  background-position: center right;
  background-repeat: no-repeat;
  padding-top: 2%;
  padding-bottom: 5%;
 
}


#cuimeda4 p {
  color: #37393F;
  margin-top: 15px;
  margin-bottom: 20px;
}

#cuimeda4 .txttitle {
  color: #7B6E5F;

}

#cuimeda4 .txtcircles {
  margin-bottom: 15px;
  font-size: 12px;
  color: #FCC300;
}

#cuimeda4 .txt2 {
  height: 100%;
    padding: 22% 40px;
    background-color: #7B6E5F;
    color: #FFFFFF;
}

#cuimeda4 .txt2 span {
  color: #FCC300;
}


/*--------------------------------------------------------------
# Pag inversion responsable
--------------------------------------------------------------*/ 

#inverres1 {
  background-image: url(../img/pag1/banner_gobierno.jpg);
  background-position: top left;
  background-size: 100% 350px;
  background-repeat: no-repeat;

}

#inverres1 .conttitlcap {
  margin-top: 130px;
}

#inverres1 .imgincacap {
  width: 520px;
margin-bottom: 40px;
}


#inverres1 .conttitlcap p {
  color: #37393F;
  margin-bottom: 0;
  margin-left: 50px;
}

#inverres1 .conttitlcap p .fa-circle {
  font-size: 9px;
  margin-left: 5px;
  margin-bottom: 6px;
}



#inverres1 .conttitlcap h1 {

  margin-left: 50px;
}


#inverres1 .linetitles {
  margin-left: 60px;

  margin-top: 10%;

}


 #inverres1 .txt2 {
    color: #37393F;
    margin-top: 85px;
    margin-bottom: 15px;
    line-height: normal;
    
 
 }

 #inverres1 .txt3 {
  color: #37393F;
  
  margin-bottom: 20px;
  line-height: normal;
  

}

 #inverres1 .moving-mouse-holder {
  margin: auto;
  margin-top: 0px;
  width: 170px;
  margin-bottom: 40px;
}

#inverres2  {

  background-image:url(../img/pag1/bgdotsgob4.png) ;
  background-size: 418px;
  background-position: left center;
 background-repeat: no-repeat;
  padding-top: 5%;
  padding-bottom: 5%;
 
}

#inverres2  h3 {
 
  margin: 10px 20px;
 
}


#inverres2 p {

  color: #37393F;
  margin-top: 40px;
  margin-bottom: 40px;
 
}

#inverres3 {
  margin-top: 2%;
  margin-bottom: 5%;
}


#inverres3 h4 {
  margin-top: 10px;
  width: fit-content;
  padding: 8px 15px;
  background-color: #FF6D2D;
  color: #ffffff;
  margin-bottom: 40px;
}

#inverres3 .imgtwolinesred {
  margin-right: 20px;
  width: 8px;
  height: 25px;
  margin-top: 20px;
}

#inverres3 p {
  margin-top: 10px;
  margin-bottom: 10px;
}


#inverres3 .txtcircles {
  margin-bottom: 10px;
  font-size: 12px;
  color: #FCC300;
}


/*--------------------------------------------------------------
# Pag Fortalecimiento Institucional
--------------------------------------------------------------*/ 

#divideryell {
  margin-bottom: 40px;
  margin-top: 40px;
  background-color: #FCC300;
  display: block;
  width: 40%;
  height: 1px;

}

#fortin1 {
  background-image: url(../img/pag1/banner_gobierno.jpg);
  background-position: top left;
  background-size: 100% 350px;
  background-repeat: no-repeat;

}

#fortin1  .conttitlcap {
  margin-top: 130px;
}

#fortin1  .imgincacap {
  width: 520px;
margin-bottom: 40px;
}


#fortin1  .conttitlcap p {
  color: #37393F;
  margin-bottom: 0;
  margin-left: 50px;
}

#fortin1  .conttitlcap p .fa-circle {
  font-size: 9px;
  margin-left: 5px;
  margin-bottom: 6px;
}



#fortin1  .conttitlcap h1 {

  margin-left: 50px;
}


#fortin1  .linetitles {
  margin-left: 60px;

  margin-top: 10%;

}

#fortin1  .txt3 {
  color: #FF6D2D;
  font-family: Barlow-Semibold;
  
  margin-top: 90px;
  font-size: clamp(1rem, 5vw, 1.6rem);
  margin-bottom: 15px;
  line-height: normal;
  

}


#fortin1  .txt2 {
    color: #7B6E5F;
    font-family: Barlow-Semibold;
    
    font-size: clamp(1rem, 5vw, 1.6rem);
    margin-bottom: 50px;
    line-height: normal;
    
 
 }


 #fortin1  .moving-mouse-holder {
  margin: auto;
  margin-top: 0px;
  width: 170px;
  margin-bottom: 40px;
}

#fortin2 h3 {
  margin: 10px 20px;
}

#fortin2 .contbrown {
  
  padding: 40px;
  
  background-color: #7B6E5F;

}



#fortin2 .contbrown p{

  color: #ffffff;
  margin-bottom: 40px;

}

#fortin2 .contbrown p span {
  color: #FCC300;
}


#fortin2 .contbrown .txtcircles {
  margin-bottom: 15px;
  font-size: 12px;
  color: #FCC300;
}

#fortin3 .contbrown {
  
  padding: 40px;
  
  background-color: #7B6E5F;

}



#fortin3 .contbrown p{

  color: #ffffff;
  margin-bottom: 40px;

}

#fortin3 .contbrown p span {
  color: #FCC300;
}


#fortin3 .contbrown .txtcircles {
  margin-bottom: 15px;
  font-size: 12px;
  color: #FCC300;
}

#fortin4 {
  background-image: url(../img/pag7/dotsbg4.png);
  background-repeat: repeat-y;
  background-size: 590px;
  background-position: top right;
  margin-top: 3%;
  margin-bottom: 5%;
 
}

#fortin4 h3 {
  margin-top: 10px;
  width: fit-content;
  padding: 8px 15px;
  border: 1px solid #FF6D2D;
  color: #7B6E5F;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 5px;
}

#fortin4 .txtnote {
  
  color: #7B6E5F;
  font-size: 16px;
 
}

#fortin4 .contcifr {
  width: fit-content;
  display: block;
  margin: auto;
 
}

#fortin4 .contcifr  .txt4 .txtperc {
  color: #FF6D2D;
  font-size: 40px;
  font-family: Barlow-Light;
}

#fortin5 {

  margin-top: 5%;
  margin-bottom: 5%;
 
}

#fortin5 .contbrwn {
  width: fit-content;
  height: 100%;
  padding: 20px;
  background-color: #7B6E5F;
}

#fortin5 .contbrwn p {
 color: #ffffff;
}

#fortin5 .contbrwn p span{
  color: #FCC300;
 }

#fortin5 .contbrwn .txtcircles {
  margin-bottom: 15px;
  font-size: 12px;
  color: #FCC300;
}



/*--------------------------------------------------------------
# Pag Gestion tienpo
--------------------------------------------------------------*/ 

#culges1 {
  background-image: url(../img/pag1/banner_gobierno.jpg);
  background-position: top left;
  background-size: 100% 350px;
  background-repeat: no-repeat;

}

#culges1 .conttitlcap {
  margin-top: 130px;
}

#culges1 .imgincacap {
  width: 520px;
margin-bottom: 40px;
}


#culges1 .conttitlcap p {
  color: #37393F;
  margin-bottom: 0;
  margin-left: 50px;
}

#culges1 .conttitlcap p .fa-circle {
  font-size: 9px;
  margin-left: 5px;
  margin-bottom: 6px;
}



#culges1 .conttitlcap h1 {

  margin-left: 50px;
}


#culges1 .linetitles {
  margin-left: 60px;

  margin-top: 10%;

}


 #culges1 .txt2 {
    color: #37393F;
    margin-top: 85px;
    margin-bottom: 15px;
    line-height: normal;
    
 
 }

 #culges1 .txt3 {
  color: #37393F;
  
  margin-bottom: 20px;
  line-height: normal;
  

}

 #culges1 .moving-mouse-holder {
  margin: auto;
  margin-top: 0px;
  width: 170px;
  margin-bottom: 40px;
}



#culges3 {

  background-image:url(../img/pag1/bgdotsgob4.png) ;
  background-size: 418px;
  background-position: left center;
 background-repeat: no-repeat;
  padding-top: 5%;
  padding-bottom: 5%;
 
}

#culges3 h3 {
 
  margin: 10px 20px;
 
}


#culges3 p {

  color: #37393F;
  margin-top: 40px;
  margin-bottom: 40px;
 
}

/*--------------------------------------------------------------
# Pag Gestion tienpo
--------------------------------------------------------------*/ 

#funsu1 {
  background-image: url(../img/pag1/banner_gobierno.jpg);
  background-position: top left;
  background-size: 100% 350px;
  background-repeat: no-repeat;

}

#funsu1 .conttitlcap {
  margin-top: 130px;
}

#funsu1 .imgincacap {
  width: 520px;
margin-bottom: 40px;
}


#funsu1 .conttitlcap p {
  color: #37393F;
  margin-bottom: 0;
  margin-left: 50px;
}

#funsu1 .conttitlcap p .fa-circle {
  font-size: 9px;
  margin-left: 5px;
  margin-bottom: 6px;
}



#funsu1 .conttitlcap h1 {

  margin-left: 50px;
}


#funsu1 .linetitles {
  margin-left: 60px;

  margin-top: 10%;

}

#funsu1 .txt1 {
  
  margin-top: 85px;
  margin-bottom: 15px;
  line-height: normal;
  

}


#funsu1 .txt2 {
    color: #37393F;
    margin-top: 85px;
    margin-bottom: 15px;
    line-height: normal;
    
 
 }



 #funsu1 .moving-mouse-holder {
  margin: auto;
  margin-top: 0px;
  width: 170px;
  margin-bottom: 40px;
}



/*--------------------------------------------------------------
# Pag Premios reco
--------------------------------------------------------------*/ 


#prerec1 {
  background-image: url(../img/pag11/dotsbg1.png);
  background-position: top left;
  background-repeat: repeat-y;
  background-size: 300px;
  padding-top: 5%;
  padding-bottom: 5%;
}


#prerec1 h3 {
  margin: 10px 20px 50px;
}

#prerec1 .imgtwolinesred {
  margin-right: 20px;
  width: 8px;
  height: 25px;
  margin-top: 20px;
}

#prerec1 p {
  margin-top: 10px;
  margin-bottom: 10px;
}


#prerec1 .txtcircles {
  margin-bottom: 10px;
  font-size: 12px;
  color: #FCC300;
}


/*--------------------------------------------------------------
# MOBILE
--------------------------------------------------------------*/

@media (max-width: 450px) {


  #sectionst1 .bannerprin {
  
    display: none;
  
  }
  
  
  #sectionst1 .bannerprinmob {
    margin-top: 10%;
    display: block;
  
  }
  
  #sectionst1 h1 {
    margin-top: 5%;
    font-size: 32px;
    margin-bottom: 10%;
  }

#sectionst2 {
   
    background-size: 100% 939px;
 
}

#sectionst2 p.txtst1 {
    line-height: 26px;
    font-size: 23px;
    width: 98%;
    
    margin-top: 5%;
}


#sectionst2 .conteje img {
  width: 35px;
  float: left;
  display: inline;
}

#sectionst2 p.txtejes {
  text-transform: uppercase;
  width: 80%;
  margin-top: 3px;
  margin-left: 8px;
  font-size: 22px;
}


#sectionst3 .conteje {
  height: 60px;
  display: block;
  width: 100%;
  margin-left: 20px;
  margin-top: 20px;
}

#sectionst3 .conteje img {
  width: 36px;
 
}

#sectionst3 p.txtejes {
  
  font-size: 22px;
  width: 85%;
  margin-top: 0px;
  margin-left: 10px;
}

#sectionst3 .mgrow0 {
  margin: 0;
}


#sectionst3 .conttranw {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0;
  margin-left: 0;
  background: none;
  border: 1px solid #7B6E5F;
  border-radius: 20px;
  padding: 5px 5px 20px;
  height: auto;
}

#sectionst3 .conttranw .contgracir {

  height: 32%;
  max-width: 100%; 
  margin-bottom: 20px;

}


#sectionst3 .conttranw p {
  
  width: 98%;
 
}

#sectionst4 .mgrow0 {
  margin: 0;
}

#sectionst4 .conteje {
  
  margin-top: 20px;
}


#sectionst4 .conteje img {
  margin-left: 15px;
  width: 35px;
  float: left;
  display: inline;
}

#sectionst4 .conttranw {
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 0;
  margin-left: 0;
  background: none;
  border: 1px solid #7B6E5F;
  border-radius: 20px;
  padding: 15px 10px;
  height: auto;
}

#sectionst4 p.txtejes {
  text-transform: uppercase;
  font-family: Barlow-Medium;
  color: #7B6E5F;
  font-size: 22px;
  float: left;
  width: 80%;
  margin-top: 0px;
  margin-left: 5px;
}

#sectionst4 .conttranw p {
  color: #7B6E5F;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 0px;
}

#sectionst4 .conttranw .contxtnub {
  padding: 30px 0 0 30px;
  background-color: #7B6E5F;
  height: 98%;
}

#sectionst5 .mgrow0 {
  margin: 0;
}

#sectionst5 .conteje {
  height: 60px;
  display: block;
  width: 100%;
  margin-top: 15px;
}

#sectionst5 .conteje img {
  width: 35px;
  margin-left: 15px;
  float: left;
  display: inline;
}

#sectionst5 p.txtejes {
  text-transform: uppercase;
  font-family: Barlow-Medium;
  color: #7B6E5F;
  font-size: 22px;
  float: left;
  width: 78%;
  margin-top: 0px;
  margin-left: 5px;
}

#sectionst5 .conttranw {
  
  padding: 5px 10px;
 
}

#sectionst5 .conttranw p {
  color: #7B6E5F;
  width: 95%;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 8px;
}

#sectionst5 .conttranw .contxtnub {
  padding: 40px 0 20px 20px;
  background-color: #7B6E5F;
  height: 99%;
}

#sectionst7 .accordion h4 {
  font-size: 15px;
  width: 85%;
  float: left;
  margin-top: 0px;
}

#sectionst7 .accordion h4 i.iicon1 {
  
  width: 19px;
  height: 19px;
  
}

#sectionst7 .accordion p {
 
  margin: 5px 0 5px 5px;
}


}/*-END  MOBILE-*/ 

/*--------------------------------------------------------------
# Pag Premio Reco
--------------------------------------------------------------*/

#sectionpr1 {
  
  background-color: #FFFFFF;
  background-image: url(../img/pag11/fondo1.jpg);
  background-position:  0px -75px ;
  background-size: cover;
  background-repeat: no-repeat;
 
 
 }
 
 #sectionpr1  .contf3 {
   
   height: 83%;
  
  }
 
  #sectionpr1 .bdotred {
  margin-top: 40px;
   border-bottom: 1px dotted #AC121B;
 }
 
 #sectionpr1 img.imglinered {
   width: 90px;
   position: absolute;
   bottom: -2px;
   left: 0;
   height: 3px;
 }
 
 
 
 #sectionpr1 .conttranw {
  margin-top: 5px;
    height: 310px;
    margin-bottom: 5px;
    margin-right: 0;
    margin-left: 0;
    background-color: #F1F1F1;
    border-radius: 20px;
    padding: 9px 30px;
 }
 
 
 
 #sectionpr1 h3 {
 
   font-size: 24px;
   
   margin: auto;  
 
 }
 
 
 #sectionpr1 h1.mtop32 {
  margin-bottom: 4px;
    margin-top: 15px;
    font-size: 30px;
    line-height: 21px;
 
 }
 
 
 #sectionpr1 p {
 
   margin: auto;
   margin-top: 20px;  
 
 }
 
 #sectionpr1 p.txtma1 {
   font-size: 35px;
   line-height: 38px; 
 
 }
 
 #sectionpr1 p.txt4 {
   color: #7B6E5F;
 }
 
 #sectionpr1 .row .conttranw p {
   color: #7B6E5F;
   margin-top: 10px;
     margin-bottom: 10px;
     font-size: 16px;
     line-height: 23px;
 }
 
 #sectionpr1 .row .conttranw .linetop {
   display: block;
   width: 100%;
   border-top: 1px dotted #AC121B;
   margin: 10px 0;
 }


 #sectionpr1 .owl-carousel {
  margin-bottom: 0px;
}

#sectionpr1 .owl-dots {
  display: none;
}



#sectionpr1 a.btnantsecc {
 
  margin-top: 0px;
}



/*--------------------------------------------------------------
# MOBILE
--------------------------------------------------------------*/

@media (max-width: 450px) {

  #sectionpr1 {
   
    background-position: 0px -40px;
   
}

#sectionpr1 .contf3 {
  height: 100%;
}


  #sectionpr1 .mgrow0 {
   margin: 0;
}

#sectionpr1 .col-lg-12  {
  padding: 0;
}




  #sectionpr1 h1.mtop32 {
    margin-top: 30px;
    font-size: 22px;
}

#sectionpr1 .conttranw {
  margin-top: 2%;
  height: auto;
  margin-bottom: 10px;
  padding: 5px 15px;
}

#sectionpr1  .owl-nav  {
 width: 98%;
}

#sectionpr1  .owl-nav .owl-prev  {
  right: 11px;
}

#sectionpr1  .owl-nav .owl-prev span {
  position: relative;
    top: -30px;
}

#sectionpr1  .owl-nav .owl-next span {
  position: relative;
    top: -30px;
}

#sectionpr1 #footer .col-lg-12  {
  padding: 0 15px;
}



}/*-END  MOBILE-*/ 






/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #442D40;
  
  
  font-size: 14px;
 
  padding: 10px 0;
  
}



#footer p i {

  margin: 0px 0 0 10px;
    width: 13px;
    height: 20px;
    background-size: contain;
    background-image: url(../img/home/diseno_por_generador.png);
    display: block;
    float: right;
    background-repeat: no-repeat;

}

#footer p.txtdise {
 
font-size: 11px;
text-transform: none;
display: block;
}


#footer p {
  color: #ffffff; 
  display: inline-block;
  font-size: 14px;
  font-family: Barlow-Light;

  padding: 0;
  padding-right: 15px;
  margin: 10px 0 10px 0;
  text-transform: uppercase;
}

#footer p.txtsocialme {

text-transform: none;  
margin-left: 10%;
padding-right: 0;
  
}

#footer p.bleft {
  
  padding-left: 10px;

}

#footer p.txtsumex {
  
 width: 100%;

}



#footer a.btnsocfa, #footer a.btnsoctw  {
  display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid #ffffff;
    text-align: center;
    margin-left: 5px;
    cursor: pointer;
    padding-top: 3px;
}

#footer a.btnsocfa:hover, #footer a.btnsoctw:hover  {
  color: #FFFFFF;
  background-color: #FF6D2D;
}



/*--------------------------------------------------------------
# MOBILE
--------------------------------------------------------------*/


@media (max-width: 450px) {

#footer {
  bottom: 0;
  position: relative;
 
  text-align: left;
     
}

#footer p.txtdise {
 
display: none;
}

#footer p {
  
  margin: 0px 0 6px 0;
}  

#footer p.bleft {
  padding-left: 10px;
  
}

#footer p.txtsumex {
  
  width: 100%;
 
 }
  
  
}/*-END  MOBILE-*/  

